<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="41c7b911-495a-40b5-986e-7dbbf4816489" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f829e01f-9f1a-48b7-bbd1-5af6acc5d4f7">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="62572978-ab74-4aab-810b-2d4e395bacfd" SortOrder="0">blogList</ContentType>
    <ContentType Key="7f09e4ac-3bca-4b37-8d4b-1c38832ac0b0" SortOrder="1">genericPage</ContentType>
    <ContentType Key="ac42ee7d-1014-4b43-9841-4989bd113223" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9ca8cb72-872d-46f9-b22b-2bf5a7b7a299</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>46ead75e-bc56-4fb2-9301-8d16c9553a07</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8cb82693-ac23-47e1-b287-fc5804afb877</Key>
      <Name>Site Title</Name>
      <Alias>siteTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>721aca1e-d4bc-4673-ae6d-1f397dff7791</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>