<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87cbad88-579f-4a28-bb86-01925ff94d94" Alias="siteRoot" Level="1">
  <Info>
    <Name>Site Root</Name>
    <Icon>icon-sitemap</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="88cdf106-3aa3-4211-8326-b4b7de0c12fe" SortOrder="0">pages</ContentType>
    <ContentType Key="ac42ee7d-1014-4b43-9841-4989bd113223" SortOrder="1">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>