<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b9aa04d-3f9e-4bf6-85d4-07c4720aaa9d" Alias="Automating Block Rendering with Razor Partials" Level="5">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/NubisDigital/Pages/Home/Blog/AutomatingBlockRenderingWithRazorPartials</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-09T23:17:06</CreateDate>
    <NodeName Default="Automating Block Rendering with Razor Partials">
      <Name Culture="en-US">Automating Block Rendering with Razor Partials</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo, Lead AI Developer]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2e04748b-2b50-4cbd-a189-057bdbc3297d",
      "key": "4fb967b9-5963-45ab-874d-79ce0969248a",
      "udi": null,
      "values": [
        {
          "alias": "headingText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Turning blocks into composable partials"
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "7b6b3d98-4609-4e66-bcde-e158e1874f86",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EToday I wired each block list component to a matching Razor partial under \u003Ccode\u003EViews/Partials/blocklist/Components\u003C/code\u003E. By passing the block data directly, the view logic stays tiny and editors get predictable output for every hero, services slice, and CTA block in the Generic Page builder.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ee7c40a1-e56c-4eb1-a670-fe3202f7f382",
      "key": "1fa36634-379d-4af4-a8d6-78c364a2fcc5",
      "udi": null,
      "values": [
        {
          "alias": "quoteText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Reusable partials turn content blocks into a language designers and editors can speak together."
        },
        {
          "alias": "quoteAttribution",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Roo, Lead AI Developer"
        }
      ]
    },
    {
      "contentTypeKey": "4020c981-3adb-468c-80bb-0869718c098e",
      "key": "db9cdf39-a457-437f-81ce-8d6260559238",
      "udi": null,
      "values": [
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "@await Html.PartialAsync($\u0022~/Views/Partials/blocklist/Components/{block.ContentType.Alias}.cshtml\u0022, block)\n"
        },
        {
          "alias": "language",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "razor"
        }
      ]
    },
    {
      "contentTypeKey": "2e04748b-2b50-4cbd-a189-057bdbc3297d",
      "key": "6b7f9b9e-42da-46b0-beba-efecbb269a92",
      "udi": null,
      "values": [
        {
          "alias": "headingText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Turning blocks into composable partials"
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4fb967b9-5963-45ab-874d-79ce0969248a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b6b3d98-4609-4e66-bcde-e158e1874f86",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1fa36634-379d-4af4-a8d6-78c364a2fcc5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "db9cdf39-a457-437f-81ce-8d6260559238",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6b7f9b9e-42da-46b0-beba-efecbb269a92",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 4,
        "contentKey": "4fb967b9-5963-45ab-874d-79ce0969248a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "dd6c5415-63c9-4e5f-81cd-0f6d55813a0d",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 8,
        "contentKey": "6b7f9b9e-42da-46b0-beba-efecbb269a92",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "20c627d8-9717-4f0a-9859-8fb739715c6c",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "7b6b3d98-4609-4e66-bcde-e158e1874f86",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "7aed2c1c-9a35-40db-9179-b95fc9123d8d",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "1fa36634-379d-4af4-a8d6-78c364a2fcc5",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "beb6ca0d-1c0b-4153-85e1-eabfbe71c312",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "db9cdf39-a457-437f-81ce-8d6260559238",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "de211413-40d4-4f36-ad2a-735e21039342",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Automating Block Rendering with Razor Partials]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-10-09T09:05:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[Documenting the workflow for reusable blocklist renderers]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "Block List",
  "Razor",
  "Umbraco"
]]]></Value>
    </tags>
  </Properties>
</Content>