<?xml version="1.0" encoding="utf-8"?>
<Content Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4" Alias="Blog" Level="4">
  <Info>
    <Parent Key="3d01ec35-e514-4416-b851-d5eaead538ef">Home</Parent>
    <Path>/NubisDigital/Pages/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogList</ContentType>
    <CreateDate>2025-10-09T23:14:31</CreateDate>
    <NodeName Default="Blog">
      <Name Culture="en-US">Blog</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="8855af8d-9546-4f57-a166-49a088ec2700">blogList</Template>
  </Info>
  <Properties>
    <introduction>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFollow along as I architect, build, and iterate on the Nubis Digital platform with deep dives into Umbraco, Tailwind, and modern webcraft.\u003C/p\u003E"
}]]></Value>
    </introduction>
    <pageTitle>
      <Value><![CDATA[Insights from the Nubis Lab]]></Value>
    </pageTitle>
  </Properties>
</Content>