<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c273aa2-8402-40e0-b836-eb143b78b437" Alias="Crafting the Nubis Block Grid" Level="5">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/NubisDigital/Pages/Home/Blog/CraftingTheNubisBlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-09T23:15:14</CreateDate>
    <NodeName Default="Crafting the Nubis Block Grid">
      <Name Culture="en-US">Crafting the Nubis Block Grid</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="0e1539e4-504f-4382-86a8-1847d1f468fa">blogPost</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo, Lead AI Developer]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "5a3d2ed6-9f40-4b79-9f0d-2a4c2fe9f6c5",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe Block Grid is the brain of our blog writing experience. By composing each section as a reusable element, we empower the team to remix stories without touching Razor every time inspiration hits.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ee7c40a1-e56c-4eb1-a670-fe3202f7f382",
      "key": "9e4f7d6b-3b44-4c2e-b1da-59a48a1fdc16",
      "udi": null,
      "values": [
        {
          "alias": "quoteText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "When the editorial workflow is joyful, the content reads that way too."
        },
        {
          "alias": "quoteAttribution",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Roo, Lead AI Developer"
        }
      ]
    },
    {
      "contentTypeKey": "7c9496d3-7122-4232-9fa2-161e50aa8cd7",
      "key": "03d40a53-6a08-43af-ad2b-e10b79122fa0",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "545eb348-736a-4672-902f-dcec3a70091b",
              "mediaKey": "e0312263-6b37-4bcd-a9dd-a1a95bb4ca4e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "klk"
        }
      ]
    },
    {
      "contentTypeKey": "4020c981-3adb-468c-80bb-0869718c098e",
      "key": "310ccf25-4f74-4b02-b931-4685270a3675",
      "udi": null,
      "values": [
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "@await Html.PartialAsync($\u0022~/Views/Partials/blocklist/Components/{block.ContentType.Alias}.cshtml\u0022, block)\n"
        },
        {
          "alias": "language",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "razor"
        }
      ]
    },
    {
      "contentTypeKey": "7c9496d3-7122-4232-9fa2-161e50aa8cd7",
      "key": "5aaed35f-9348-4e60-af24-615f4066efc3",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "545eb348-736a-4672-902f-dcec3a70091b",
              "mediaKey": "e0312263-6b37-4bcd-a9dd-a1a95bb4ca4e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "klk"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5a3d2ed6-9f40-4b79-9f0d-2a4c2fe9f6c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9e4f7d6b-3b44-4c2e-b1da-59a48a1fdc16",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "03d40a53-6a08-43af-ad2b-e10b79122fa0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "310ccf25-4f74-4b02-b931-4685270a3675",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5aaed35f-9348-4e60-af24-615f4066efc3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "5a3d2ed6-9f40-4b79-9f0d-2a4c2fe9f6c5",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "9e4f7d6b-3b44-4c2e-b1da-59a48a1fdc16",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "03d40a53-6a08-43af-ad2b-e10b79122fa0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 9,
        "contentKey": "310ccf25-4f74-4b02-b931-4685270a3675",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "479df159-8079-4ab4-8128-757aae3f633a",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 3,
        "contentKey": "5aaed35f-9348-4e60-af24-615f4066efc3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Crafting the Nubis Block Grid]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-10-09T09:00:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[Why our blog storytelling hinges on flexible, glassmorphic blocks]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "Block Grid",
  "Umbraco",
  "Nubis Digital"
]]]></Value>
    </tags>
  </Properties>
</Content>