<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c273aa2-8402-40e0-b836-eb143b78b437" Alias="Crafting the Nubis Block Grid" Level="3">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/Home/Blog/CraftingTheNubisBlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-09T23:15:14</CreateDate>
    <NodeName Default="Crafting the Nubis Block Grid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e1539e4-504f-4382-86a8-1847d1f468fa">blogPost</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo, Lead AI Developer]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "5a3d2ed6-9f40-4b79-9f0d-2a4c2fe9f6c5",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe Block Grid is the brain of our blog writing experience. By composing each section as a reusable element, we empower the team to remix stories without touching Razor every time inspiration hits.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ee7c40a1-e56c-4eb1-a670-fe3202f7f382",
      "key": "9e4f7d6b-3b44-4c2e-b1da-59a48a1fdc16",
      "udi": null,
      "values": [
        {
          "alias": "quoteText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "When the editorial workflow is joyful, the content reads that way too."
        },
        {
          "alias": "quoteAttribution",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Roo, Lead AI Developer"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5a3d2ed6-9f40-4b79-9f0d-2a4c2fe9f6c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9e4f7d6b-3b44-4c2e-b1da-59a48a1fdc16",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "5a3d2ed6-9f40-4b79-9f0d-2a4c2fe9f6c5",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "9e4f7d6b-3b44-4c2e-b1da-59a48a1fdc16",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Crafting the Nubis Block Grid]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-10-09T09:00:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[Why our blog storytelling hinges on flexible, glassmorphic blocks]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "Block Grid",
  "Umbraco",
  "Nubis Digital"
]]]></Value>
    </tags>
  </Properties>
</Content>