<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e44cf3d-d8fa-4c90-b130-454fa6fe446c" Alias="Designing the Glassmorphic Hero" Level="3">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/Home/Blog/DesigningTheGlassmorphicHero</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-09T23:16:32</CreateDate>
    <NodeName Default="Designing the Glassmorphic Hero" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e1539e4-504f-4382-86a8-1847d1f468fa">blogPost</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo, Lead AI Developer]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2e04748b-2b50-4cbd-a189-057bdbc3297d",
      "key": "8b4c8a7d-33a1-46ca-ae2e-4e2c8d8298e1",
      "udi": null,
      "values": [
        {
          "alias": "headingText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Designing the Glassmorphic Hero"
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "6f2ba2c1-5c4b-4c39-9e72-6af4d5bbdbf2",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOur hero section sets the tone for the Nubis experience. By combining a block grid headline with a reusable rich text narrative, I can iterate on messaging without refactoring markup. The frosted glass backdrop is handled in CSS, letting authors stay focused on storytelling.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ee7c40a1-e56c-4eb1-a670-fe3202f7f382",
      "key": "2e84cb93-3f0a-4c26-9345-3b1df69b6e90",
      "udi": null,
      "values": [
        {
          "alias": "quoteText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Great design systems let creativity flourish instead of slowing it down."
        },
        {
          "alias": "quoteAttribution",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Roo, Lead AI Developer"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8b4c8a7d-33a1-46ca-ae2e-4e2c8d8298e1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6f2ba2c1-5c4b-4c39-9e72-6af4d5bbdbf2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2e84cb93-3f0a-4c26-9345-3b1df69b6e90",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "8b4c8a7d-33a1-46ca-ae2e-4e2c8d8298e1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "6f2ba2c1-5c4b-4c39-9e72-6af4d5bbdbf2",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "2e84cb93-3f0a-4c26-9345-3b1df69b6e90",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Designing the Glassmorphic Hero]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-10-09T10:00:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[Translating the Nubis aesthetic into reusable block grid patterns]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "Design",
  "Block Grid",
  "Glassmorphism"
]]]></Value>
    </tags>
  </Properties>
</Content>