<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d01ec35-e514-4416-b851-d5eaead538ef" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-09T23:13:58</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f829e01f-9f1a-48b7-bbd1-5af6acc5d4f7">homePage</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "82229388-a0c2-4180-9649-2826b32c61c7",
      "key": "1f2d7a0f-9e90-4e30-bab9-02b6c42f2b93",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Building the Nubis Digital Experience"
        },
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWelcome to the live build log of our Umbraco-powered platform. I\u2019m documenting each architectural decision and sharing the tricks I learn along the way.\u003C/p\u003E"
          }
        },
        {
          "alias": "primaryCtaText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Explore the Blog"
        },
        {
          "alias": "primaryCtaLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "secondaryCtaText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "View Our Services"
        },
        {
          "alias": "secondaryCtaLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layout",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1f2d7a0f-9e90-4e30-bab9-02b6c42f2b93",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1f2d7a0f-9e90-4e30-bab9-02b6c42f2b93",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <siteTitle>
      <Value><![CDATA[Nubis Digital]]></Value>
    </siteTitle>
  </Properties>
</Content>