<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6120e16-08a6-45c2-ba32-d3386b83c866" Alias="Nubis Digital" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NubisDigital</Path>
    <Trashed>false</Trashed>
    <ContentType>siteRoot</ContentType>
    <CreateDate>2025-10-12T12:09:21</CreateDate>
    <NodeName Default="Nubis Digital" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>