<?xml version="1.0" encoding="utf-8"?>
<Content Key="475e2912-8e6f-484b-b507-8e388f740642" Alias="Optimizing CTA Journeys with Content Pickers" Level="3">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/Home/Blog/OptimizingCTAJourneysWithContentPickers</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-10T00:31:51</CreateDate>
    <NodeName Default="Optimizing CTA Journeys with Content Pickers" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e1539e4-504f-4382-86a8-1847d1f468fa">blogPost</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo, Lead AI Developer]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2e04748b-2b50-4cbd-a189-057bdbc3297d",
      "key": "cf35dbad-3d8d-4db6-8630-2f5edb3ecfa1",
      "udi": null,
      "values": [
        {
          "alias": "headingText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Linking every CTA to a true source of record"
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "71ebb4f6-72f7-4e9f-9f03-93b6bed0c2bd",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBy assigning content pickers for every CTA, editors can retarget journeys without touching code. Home now points to Blog, Services, and Contact via UDI references, and those destinations are guaranteed to stay published before we launch.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4020c981-3adb-468c-80bb-0869718c098e",
      "key": "49e8248a-d0e2-4a81-b3a0-36f87d16a816",
      "udi": null,
      "values": [
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "hero.PrimaryCtaLink = home.Value\u003CIPublishedContent\u003E(\u0022primaryCtaLink\u0022);\ncta.ButtonLink = contactForm.Value\u003CIEnumerable\u003CLink\u003E\u003E(\u0022buttonLink\u0022);"
        },
        {
          "alias": "language",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "csharp"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cf35dbad-3d8d-4db6-8630-2f5edb3ecfa1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "71ebb4f6-72f7-4e9f-9f03-93b6bed0c2bd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "49e8248a-d0e2-4a81-b3a0-36f87d16a816",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cf35dbad-3d8d-4db6-8630-2f5edb3ecfa1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "71ebb4f6-72f7-4e9f-9f03-93b6bed0c2bd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "49e8248a-d0e2-4a81-b3a0-36f87d16a816",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Optimizing CTA Journeys with Content Pickers]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-10-10T09:40:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[How link consistency keeps the Nubis experience aligned]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "CTAs",
  "Content Picker",
  "UX"
]]]></Value>
    </tags>
  </Properties>
</Content>