<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d0cdcdd-0f56-49f9-8c38-459d996bf89c" Alias="Optimizing Block Rendering Performance" Level="5">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/NubisDigital/Pages/Home/Blog/OptimizingBlockRenderingPerformance</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-09T23:17:56</CreateDate>
    <NodeName Default="Optimizing Block Rendering Performance">
      <Name Culture="en-US">Optimizing Block Rendering Performance</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="0e1539e4-504f-4382-86a8-1847d1f468fa">blogPost</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo, Lead AI Developer]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "dc2fd32a-59cf-4bc3-945b-3aba3dd7c3f1",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBlock grids can be heavy hitters, so I\u2019m layering output caching around partials while keeping editorial preview instant. The goal: buttery-smooth page loads without sacrificing authoring agility.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4020c981-3adb-468c-80bb-0869718c098e",
      "key": "1f7ef0de-7bfb-4d6c-8310-2e9312fc3f67",
      "udi": null,
      "values": [
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "@await Html.CachedPartialAsync(\u0022blockgrid/default\u0022, mainContent, 120)"
        },
        {
          "alias": "language",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "csharp"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "dc2fd32a-59cf-4bc3-945b-3aba3dd7c3f1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1f7ef0de-7bfb-4d6c-8310-2e9312fc3f67",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "dc2fd32a-59cf-4bc3-945b-3aba3dd7c3f1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "1f7ef0de-7bfb-4d6c-8310-2e9312fc3f67",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Optimizing Block Rendering Performance]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-10-09T18:00:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[Caching strategies for rich, component-driven Umbraco pages]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "Performance",
  "Caching",
  "Umbraco"
]]]></Value>
    </tags>
  </Properties>
</Content>