<?xml version="1.0" encoding="utf-8"?>
<Content Key="44f59203-3020-4fc5-9fda-e1d6c8583412" Alias="Pages" Level="2">
  <Info>
    <Parent Key="d6120e16-08a6-45c2-ba32-d3386b83c866">Nubis Digital</Parent>
    <Path>/NubisDigital/Pages</Path>
    <Trashed>false</Trashed>
    <ContentType>pages</ContentType>
    <CreateDate>2025-10-12T14:07:31</CreateDate>
    <NodeName Default="Pages" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>