<?xml version="1.0" encoding="utf-8"?>
<Content Key="89674c05-b7c8-4652-9b21-1cfb744086db" Alias="Pages" Level="2">
  <Info>
    <Parent Key="d6120e16-08a6-45c2-ba32-d3386b83c866">Nubis Digital</Parent>
    <Path>/NubisDigital/Pages</Path>
    <Trashed>false</Trashed>
    <ContentType>pages</ContentType>
    <CreateDate>2025-10-12T12:09:29</CreateDate>
    <NodeName Default="Pages" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>