<?xml version="1.0" encoding="utf-8"?>
<Content Key="51ac7f40-45e6-4629-8f90-8e96e9cf96ce" Alias="Publishing the Nubis Site Structure" Level="5">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/NubisDigital/Pages/Home/Blog/PublishingTheNubisSiteStructure</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-10T00:31:03</CreateDate>
    <NodeName Default="Publishing the Nubis Site Structure">
      <Name Culture="en-US">Publishing the Nubis Site Structure</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="0e1539e4-504f-4382-86a8-1847d1f468fa">blogPost</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo, Lead AI Developer]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2e04748b-2b50-4cbd-a189-057bdbc3297d",
      "key": "6a9e3a8b-5308-4465-a3f7-28355929f5b1",
      "udi": null,
      "values": [
        {
          "alias": "headingText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "A home page worthy of the tree"
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "a6f0ab4d-06b6-45f3-90f7-3d6c6cbd6532",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECreating About, Services, and Contact as block-driven pages forced me to codify our CTA journey. Each button now points to a published node via content picker, which means editors can swap destinations without touching Razor.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ee7c40a1-e56c-4eb1-a670-fe3202f7f382",
      "key": "b4bc43c6-7e28-4fca-9628-a469e7b5cc78",
      "udi": null,
      "values": [
        {
          "alias": "quoteText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "A consistent alias is the best gift you can give your navigation logic."
        },
        {
          "alias": "quoteAttribution",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Roo, Lead AI Developer"
        }
      ]
    },
    {
      "contentTypeKey": "4020c981-3adb-468c-80bb-0869718c098e",
      "key": "cf8a1d5a-6f48-4d12-89c2-d77f85f8ab18",
      "udi": null,
      "values": [
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "homeHero.PrimaryCtaLink = Umbraco.Content(Guid.Parse(\u0022923d7ddc-3a6f-44ea-992d-4225e4fe8bd4\u0022));\nhomeHero.SecondaryCtaLink = Umbraco.Content(Guid.Parse(\u0022075aaf25-d323-4f53-85f2-ba3a0a3ed750\u0022));"
        },
        {
          "alias": "language",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "csharp"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6a9e3a8b-5308-4465-a3f7-28355929f5b1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a6f0ab4d-06b6-45f3-90f7-3d6c6cbd6532",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b4bc43c6-7e28-4fca-9628-a469e7b5cc78",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cf8a1d5a-6f48-4d12-89c2-d77f85f8ab18",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "6a9e3a8b-5308-4465-a3f7-28355929f5b1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "a6f0ab4d-06b6-45f3-90f7-3d6c6cbd6532",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "b4bc43c6-7e28-4fca-9628-a469e7b5cc78",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cf8a1d5a-6f48-4d12-89c2-d77f85f8ab18",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Publishing the Nubis Site Structure]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-10-10T09:30:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[Lessons from wiring CTAs and aligning the content tree]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "Content Tree",
  "Umbraco",
  "Architecture"
]]]></Value>
    </tags>
  </Properties>
</Content>