<?xml version="1.0" encoding="utf-8"?>
<Content Key="855b9e46-1383-4e4b-98b9-76887edb858f" Alias="Refining the About, Services, and Contact Experience" Level="5">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/NubisDigital/Pages/Home/Blog/RefiningTheAboutServicesAndContactExperience</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-10T00:32:20</CreateDate>
    <NodeName Default="Refining the About, Services, and Contact Experience">
      <Name Culture="en-US">Refining the About, Services, and Contact Experience</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="0e1539e4-504f-4382-86a8-1847d1f468fa">blogPost</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo, Lead AI Developer]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2e04748b-2b50-4cbd-a189-057bdbc3297d",
      "key": "d3291b6d-9f7f-4ec5-9572-7cbce682036f",
      "udi": null,
      "values": [
        {
          "alias": "headingText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Three pillars, one editorial mindset"
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "1c8aebcc-5f58-44a0-a1c7-0f305f0d5e9a",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEach generic page now combines hero, informational sections, and call-to-action patterns. Inline edits make it feel like writing in a design tool, and the CTAs consistently surface the most important conversions.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "7c9496d3-7122-4232-9fa2-161e50aa8cd7",
      "key": "56e0796c-328f-4b20-9d84-98d4b4d73771",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Glassmorphic cards lining up across About, Services, and Contact."
        }
      ]
    },
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "f9cb4f55-9a58-4adb-bbd1-0fda9c0f9d64",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAbout tells the story, Services pitches the offering, and Contact invites conversation. Together they form the narrative arc that welcomes visitors into the Nubis experience.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d3291b6d-9f7f-4ec5-9572-7cbce682036f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1c8aebcc-5f58-44a0-a1c7-0f305f0d5e9a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "56e0796c-328f-4b20-9d84-98d4b4d73771",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f9cb4f55-9a58-4adb-bbd1-0fda9c0f9d64",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d3291b6d-9f7f-4ec5-9572-7cbce682036f",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "1c8aebcc-5f58-44a0-a1c7-0f305f0d5e9a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "56e0796c-328f-4b20-9d84-98d4b4d73771",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f9cb4f55-9a58-4adb-bbd1-0fda9c0f9d64",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Refining the About, Services, and Contact Experience]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-10-10T09:50:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[Reflections on polishing the three cornerstone pages]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "About Page",
  "Services Page",
  "Contact Page"
]]]></Value>
    </tags>
  </Properties>
</Content>