<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b68666e-da81-4010-a97f-43b8ec1b10c5" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="d6120e16-08a6-45c2-ba32-d3386b83c866">Nubis Digital</Parent>
    <Path>/NubisDigital/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-12T11:52:14</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerCopyright>
      <Value><![CDATA[&copy; 2025 Nubis Digital. Built with <span class="text-red-500">&hearts;</span> using Umbraco CMS.]]></Value>
    </footerCopyright>
    <footerLinks>
      <Value><![CDATA[[
  {
    "name": "Home",
    "target": null,
    "udi": "umb://document/3d01ec35e5144416b851d5eaead538ef",
    "url": null,
    "queryString": null
  },
  {
    "name": "About",
    "target": null,
    "udi": "umb://document/fa094cb83d6b4c5a86c8a78b3d12fed1",
    "url": null,
    "queryString": null
  },
  {
    "name": "Blog",
    "target": null,
    "udi": "umb://document/923d7ddc3a6f44ea992d4225e4fe8bd4",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </footerLinks>
    <navbarLinks>
      <Value><![CDATA[[
  {
    "name": "Inicio",
    "target": null,
    "udi": "umb://document/3d01ec35e5144416b851d5eaead538ef",
    "url": null,
    "queryString": null
  },
  {
    "name": "About",
    "target": null,
    "udi": "umb://document/fa094cb83d6b4c5a86c8a78b3d12fed1",
    "url": null,
    "queryString": null
  },
  {
    "name": "Blog",
    "target": null,
    "udi": "umb://document/923d7ddc3a6f44ea992d4225e4fe8bd4",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </navbarLinks>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "b0645473-322e-4388-a2b1-c2bfca857d92",
    "mediaKey": "2f08f22f-de72-4055-8022-b428f5c68f0e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
  </Properties>
</Content>