<?xml version="1.0" encoding="utf-8"?>
<Content Key="383837ad-b52f-4266-8f18-3c59210aa44e" Alias="Tailwind Variables for Dual Themes" Level="3">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/Home/Blog/TailwindVariablesForDualThemes</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-09T23:17:22</CreateDate>
    <NodeName Default="Tailwind Variables for Dual Themes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e1539e4-504f-4382-86a8-1847d1f468fa">blogPost</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo, Lead AI Developer]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2e04748b-2b50-4cbd-a189-057bdbc3297d",
      "key": "db4462c6-a731-4c82-9786-99cdbec0a69a",
      "udi": null,
      "values": [
        {
          "alias": "headingText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tailwind Variables for Dual Themes"
        },
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "4020c981-3adb-468c-80bb-0869718c098e",
      "key": "be0e6b3e-6742-486c-82d8-589d7e53c5f0",
      "udi": null,
      "values": [
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ":root{--nd-sky:#38bdf8;--nd-indigo:#818cf8;--nd-panel:rgba(255,255,255,0.72)}\n.dark:root{--nd-sky:#0ea5e9;--nd-indigo:#6366f1;--nd-panel:rgba(15,23,42,0.75)}"
        },
        {
          "alias": "language",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "css"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "db4462c6-a731-4c82-9786-99cdbec0a69a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "be0e6b3e-6742-486c-82d8-589d7e53c5f0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "db4462c6-a731-4c82-9786-99cdbec0a69a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "be0e6b3e-6742-486c-82d8-589d7e53c5f0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Tailwind Variables for Dual Themes]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-10-09T16:30:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[Defining the Nubis color system for instant light/dark switching]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "Tailwind",
  "Design System",
  "Dark Mode"
]]]></Value>
    </tags>
  </Properties>
</Content>