<?xml version="1.0" encoding="utf-8"?>
<Content Key="8520ed3e-2674-465a-9928-d56b141e376b" Alias="Test Page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestPage</Path>
    <Trashed Parent="89674c05-b7c8-4652-9b21-1cfb744086db">true</Trashed>
    <ContentType>testPage</ContentType>
    <CreateDate>2025-10-12T14:00:49</CreateDate>
    <NodeName Default="Test Page" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>