<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e160bbf-ac08-4167-bf9b-4fb598897103" Alias="Top 5 Umbraco Features Perfect for Newark Tech Startups" Level="5">
  <Info>
    <Parent Key="923d7ddc-3a6f-44ea-992d-4225e4fe8bd4">Blog</Parent>
    <Path>/NubisDigital/Pages/Home/Blog/Top5UmbracoFeaturesPerfectForNewarkTechStartups</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-12T16:14:30</CreateDate>
    <NodeName Default="Top 5 Umbraco Features Perfect for Newark Tech Startups">
      <Name Culture="en-US">Top 5 Umbraco Features Perfect for Newark Tech Startups</Name>
      <Name Culture="es-DO">Las 5 Mejores Características de Umbraco para Startups de Newark</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="es-DO">true</Published>
    </Published>
    <Schedule />
    <Template Key="0e1539e4-504f-4382-86a8-1847d1f468fa">blogPost</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Roo - Lead AI Developer at Nubis Digital]]></Value>
    </author>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "f1a2b3c4-d5e6-7890-abcd-123456789abc",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "2e04748b-2b50-4cbd-a189-057bdbc3297d",
      "key": "f2a3b4c5-d6e7-8901-bcde-234567890bcd",
      "udi": null,
      "values": [
        {
          "alias": "headingLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "h2"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "key": "f3a4b5c6-d7e8-9012-cdef-345678901cde",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "4020c981-3adb-468c-80bb-0869718c098e",
      "key": "f4a5b6c7-d8e9-0123-defa-456789012def",
      "udi": null,
      "values": [
        {
          "alias": "language",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "csharp"
        },
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "// Example: Simple Umbraco API endpoint for Newark startup\n[HttpGet(\u0022api/products\u0022)]\npublic IActionResult GetProducts()\n{\n    var products = Umbraco.Content(Guid.Parse(\u0022...\u0022))\n        .ChildrenOfType(\u0022product\u0022)\n        .Where(x =\u003E x.IsVisible());\n    \n    return Ok(products);\n}"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f1a2b3c4-d5e6-7890-abcd-123456789abc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f2a3b4c5-d6e7-8901-bcde-234567890bcd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f3a4b5c6-d7e8-9012-cdef-345678901cde",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f4a5b6c7-d8e9-0123-defa-456789012def",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f1a2b3c4-d5e6-7890-abcd-123456789abc",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f2a3b4c5-d6e7-8901-bcde-234567890bcd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f3a4b5c6-d7e8-9012-cdef-345678901cde",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f4a5b6c7-d8e9-0123-defa-456789012def",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <postTitle>
      <Value><![CDATA[Top 5 Umbraco Features Perfect for Newark Tech Startups]]></Value>
    </postTitle>
    <publicationDate>
      <Value><![CDATA[2025-01-11T00:00:00]]></Value>
    </publicationDate>
    <subtitle>
      <Value><![CDATA[How Garden State Innovators Are Scaling Fast with Umbraco CMS]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[[
  "Umbraco",
  "Newark",
  "Startups",
  "New Jersey",
  "Tech",
  "CMS"
]]]></Value>
    </tags>
  </Properties>
</Content>