<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d4dfa37-0d67-4846-99d3-c42f231f98c4" Alias="0D83DCEC-1E15-48D7-813E-9028C56E5A16_1_105_c.tif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/D83DCEC1E1548D7813E9028C56E5A16_1_105_ctif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-10T20:52:57</CreateDate>
    <NodeName Default="0D83DCEC-1E15-48D7-813E-9028C56E5A16_1_105_c.tif" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xayaxwyo/0d83dcec-1e15-48d7-813e-9028c56e5a16_1_105_c.tif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>