<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0312263-6b37-4bcd-a9dd-a1a95bb4ca4e" Alias="1ada628a693c2e1f23f752030cd16a8e.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ada628a693c2e1f23f752030cd16a8ejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-10T20:55:24</CreateDate>
    <NodeName Default="1ada628a693c2e1f23f752030cd16a8e.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3tuhovs4/1ada628a693c2e1f23f752030cd16a8e.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>