<?xml version="1.0" encoding="utf-8"?>
<Media Key="fac292d7-db7f-4e57-bc7e-479e9d317d3b" Alias="Gemini_Generated_Image_ds1tjsds1tjsds1t.png (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gemini_Generated_Image_ds1tjsds1tjsds1tpng1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-12T14:30:39</CreateDate>
    <NodeName Default="Gemini_Generated_Image_ds1tjsds1tjsds1t.png (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lbmiitaw/gemini_generated_image_ds1tjsds1tjsds1t.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>