<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba15873a-e90b-48c2-b311-5ec384f08bca" Alias="premium_photo-1661764256397-af154e87b1b3.avif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/premium_photo1661764256397Af154e87b1b3avif</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-12T16:42:29</CreateDate>
    <NodeName Default="premium_photo-1661764256397-af154e87b1b3.avif" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zhxp2grm/premium_photo-1661764256397-af154e87b1b3.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>