<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d708b82-b16b-4247-a063-737772ab2179" Alias="Blog Content Grid" Level="1">
  <Info>
    <Name>Blog Content Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4b1b3cd0-97c8-4bae-b22b-da89d9b5ba8b",
      "label": "\uD83D\uDCDD Rich Text",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 6,
      "areas": []
    },
    {
      "contentElementTypeKey": "2e04748b-2b50-4cbd-a189-057bdbc3297d",
      "label": "\uD83D\uDCF0 {=headlineText} ({=headingLevel})",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 2,
      "areas": []
    },
    {
      "contentElementTypeKey": "7c9496d3-7122-4232-9fa2-161e50aa8cd7",
      "label": "\uD83D\uDDBC\uFE0F Image{=caption}",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 6,
      "areas": []
    },
    {
      "contentElementTypeKey": "ee7c40a1-e56c-4eb1-a670-fe3202f7f382",
      "label": "\uD83D\uDCAC Quote: {=quoteText}",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 4,
      "areas": []
    },
    {
      "contentElementTypeKey": "4020c981-3adb-468c-80bb-0869718c098e",
      "label": "\uD83D\uDCBB Code ({=language})",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 6,
      "areas": []
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>