<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e942b79-54db-445d-8755-00463bd7361a" Alias="Code Snippet Editor" Level="1">
  <Info>
    <Name>Code Snippet Editor</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "height": 400,
  "language": "javascript",
  "lineNumbers": true,
  "minimap": true,
  "wordWrap": true
}]]></Config>
</DataType>