<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b775cf9c-dec2-4f70-817f-36a5dcc4fbce" Alias="CTA Style Dropdown" Level="1">
  <Info>
    <Name>CTA Style Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "banner",
    "centered",
    "split"
  ],
  "multiple": false
}]]></Config>
</DataType>