<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67cadcb1-f5af-404c-9c68-ba40e018f5e1" Alias="Generic Page Blocks" Level="1">
  <Info>
    <Name>Generic Page Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "82229388-a0c2-4180-9649-2826b32c61c7",
      "label": "Hero Banner",
      "backgroundColor": "#1e293b",
      "iconColor": "#38bdf8"
    },
    {
      "contentElementTypeKey": "494c5907-559b-4841-bcfa-54850dadb8eb",
      "label": "Informational Section",
      "backgroundColor": "#0f172a",
      "iconColor": "#6366f1"
    },
    {
      "contentElementTypeKey": "ffd81225-0997-4eeb-93c6-f130f1233556",
      "label": "Contact Form",
      "backgroundColor": "#111827",
      "iconColor": "#38bdf8"
    },
    {
      "contentElementTypeKey": "8d2729c4-dd7f-4776-97f5-02bcd5046537",
      "label": "Call To Action",
      "backgroundColor": "#0b1120",
      "iconColor": "#818cf8"
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true,
  "validationLimit": {
    "min": 1,
    "max": 0
  }
}]]></Config>
</DataType>