<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f203f029-8d16-4b7b-958b-59cdb3aa83f2" Alias="Heading Level" Level="1">
  <Info>
    <Name>Heading Level</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h2",
    "h3",
    "h4"
  ],
  "multiple": false
}]]></Config>
</DataType>