<?xml version="1.0" encoding="utf-8"?>
<DataType Key="256d6b01-266a-4f9b-b10f-1d8d3052147b" Alias="Hero Slider Variant" Level="1">
  <Info>
    <Name>Hero Slider Variant</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Fade",
    "Slide",
    "Ken Burns"
  ]
}]]></Config>
</DataType>