<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98f8ff63-7d89-4acf-97ed-d16325ba80b4" Alias="Hero Slides Block List" Level="1">
  <Info>
    <Name>Hero Slides Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "312f1b86-778f-4b7a-bfd5-beed8fa56806",
      "label": "{{headline}}"
    }
  ],
  "useLiveEditing": false,
  "validationLimit": {
    "min": 1,
    "max": 10
  }
}]]></Config>
</DataType>