<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46ead75e-bc56-4fb2-9301-8d16c9553a07" Alias="Home Page Blocks" Level="1">
  <Info>
    <Name>Home Page Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "82229388-a0c2-4180-9649-2826b32c61c7",
      "label": "Hero Banner",
      "iconColor": "#38bdf8",
      "backgroundColor": "#0f172a",
      "editorSize": "medium"
    },
    {
      "contentElementTypeKey": "2d0ab3c2-2d82-4525-8325-90e24c7c126b",
      "label": "Hero Slider",
      "iconColor": "#818cf8",
      "backgroundColor": "#0f172a",
      "editorSize": "medium"
    },
    {
      "contentElementTypeKey": "faa6211a-cc13-445a-abfc-cef8c9d10ce9",
      "label": "Services Overview",
      "iconColor": "#38bdf8",
      "backgroundColor": "#0f172a",
      "editorSize": "medium"
    },
    {
      "contentElementTypeKey": "a326c1cc-8bec-4dfe-8614-805f8a8b6a91",
      "label": "Latest Blog Posts",
      "iconColor": "#38bdf8",
      "backgroundColor": "#0f172a",
      "editorSize": "medium"
    },
    {
      "contentElementTypeKey": "8d2729c4-dd7f-4776-97f5-02bcd5046537",
      "label": "Call To Action",
      "iconColor": "#38bdf8",
      "backgroundColor": "#0f172a",
      "editorSize": "medium"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>