<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bcfdfb0-190c-489c-923c-446803664e66" Alias="Service Icon Dropdown" Level="1">
  <Info>
    <Name>Service Icon Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "icon-check",
    "icon-lightbulb-active",
    "icon-rocket",
    "icon-briefcase",
    "icon-settings",
    "icon-trophy"
  ],
  "multiple": false
}]]></Config>
</DataType>