<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5520d36-8422-43f0-a0dc-27938a9430c7" Alias="Service Items Block List" Level="1">
  <Info>
    <Name>Service Items Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "50b2b446-9b19-47d2-8bb0-256ef2901034"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false
}]]></Config>
</DataType>