<?xml version="1.0" encoding="utf-8"?>
<DataType Key="45bbafb2-34ba-4959-97c1-d888c53ca29d" Alias="Services Style Dropdown" Level="1">
  <Info>
    <Name>Services Style Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "grid",
    "cards",
    "list"
  ],
  "multiple": false
}]]></Config>
</DataType>