<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eadcbfec-1c32-48b2-8d06-502f43ff3d48" Alias="test - as - Decimal Property Editor UI" Level="1">
  <Info>
    <Name>test - as - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": "0.01"
}]]></Config>
</DataType>